{% extends "/mainholders/plain.html" %}
{% from "/auth/_formhelpers.html" import render_field %}
{% block content %}


    <div id="loginorregister">Login</div>

    <h1>Register</h1>

    <div id="loginorregisterright">

    <div id="loginwindow">
<div id="centerauthforms">
        {% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
		  <div class="alert alert-warning alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
			{{message}}
		  </div>
		{% endfor %}
	  {% endif %}
	{% endwith %}



               <h3>Login</h3>
            <form method="post" action="/auth/logintwo">
              <dl>
                {{ render_field(form.username, placeholder="Username", autocomplete="off") }}
                {{ render_field(form.password_hash, placeholder="Password", autocomplete="off") }}
                      <br> <img src='{{ (form.picture) }}'  width="236px" height="48px" >
                 {{ render_field(form.recaptchaanswer, placeholder="Captcha Aswer", autocomplete="off") }}
              </dl>





                        <input class="btn btn-danger" type="submit" value=login>
            </form>


                <br>
            </div>

            </div>


    </div>


{% endblock %}