{% extends "plain.html" %}
{% from "/auth/_formhelpers.html" import render_field %}
{% block content %}


    <div id="loginorregister">Login</div>



    <div id="loginorregisterright">

    <div id="loginwindow">

                <img src="{{ url_for('static', filename='/images/AllInOneIcon.png') }}" width="50" height="50">
            <form method="post" action="/auth/login">
              <dl>
                {{ render_field(form.username, placeholder="username", autocomplete="off") }}
                {{ render_field(form.password_hash, placeholder="password", autocomplete="off") }}

              </dl>






                        <input class="btn btn-danger" type="submit" value=login>
            </form>


                <br>


            </div>


    </div>


{% endblock %}