{% extends "/mainholders/plain.html" %}
{% from "/auth/_formhelpers.html" import render_field %}
{% block content %}
 <div id = 'topbar'>
 <a href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='/images/AllInOneIcon.png') }}" width="100px" height="100px">
</a>
 </div>



    <div id="loginorregister">Login</div>



    <div id="loginorregisterright">


    <h1>Register</h1>


<form method=post action="/auth/register">
  <dl>
    {{ render_field(form.username) }}
    {{ render_field(form.password) }}
    {{ render_field(form.password2) }}

    {{ render_field(form.welcomeMessage) }}

    {{ render_field(form.pin) }}



  </dl>
  <p><input class="btn btn-danger" type=submit value=Register>

</form>
</div>


{% endblock %}