{% extends "/mainholders/directory.html" %}
{% from "/auth/_formhelpers.html" import render_field %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/security.css') }}">
<div id="security">

    <h1>Change Password</h1>


        <form method="post" action="/auth/securitytwo/<username>">
  <dl>
    {{ render_field(form.old_password) }}
    {{ render_field(form.password) }}
      {{ render_field(form.password2) }}
      <br> <img src='{{ (form.picture) }}'  width="236px" height="48px" >
      {{ render_field(form.recaptchaanswer) }}
  </dl>
     <input class="btn btn-danger" type="submit" value="Update">
</form>



</div>


{% endblock %}