body {
  width: 100%;
  height: 1080px;
  background-color: #ffffff;
}
/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

/* topbar */

#topbar{
    position: fixed;
     width: 100%;
     top: 20px;
     height: 100px;

     background-color: #ffffff;
}
#loginregister {
    position:absolute;
    right:10px;
    width: 250px;
    height: 40px;
    top:10px;
    background-color: #ffffff;
}


#usernameorlogin{
    position:absolute;

    width: 75px;
    height: 40px;

    background-color: #ffffff;
}

#logoutorregister{
    position:absolute;
    margin-left: 60px;
    width: 70px;
    height: 40px;

    background-color: #ffffff;
}

#emailholdericon{
    position:absolute;
    margin-left: 150px;
    width: 50px;
    height: 40px;

    background-color: #ffffff;
}






#mainlayer{

    width:100%;
    height: 100%;

     background-color: #ffffff;
}
#searchbox{
     position:absolute;
     width:600px;
     height:300px;
     z-index:15;
     top:40%;
     left:40%;
     margin:-100px 0 0 -150px;
     background-color: #ffffff;
     text-align: center;



}

#bannerlogo{


     background-color: #ffffff;
}

#searchinput{
    width:100%;
    margin-top: 30px;
    margin-left: 50px;
     background-color: #ffffff;

}

#searchbuttons{

    margin-top: 140px;
     background-color: #ffffff;
}

#bottombar{
    position: fixed;
     width: 100%;
     bottom: 5px;
     height: 40px;

   background-color: #f2f2f2;
}

#bottombar1 {
    position: fixed;
    width: 100px;
    left: 20px;
    bottom: 5px;
    height: 40px;

   background-color: #f2f2f2;

}

#bottombar2 {
    position: fixed;
    width: 100px;
    left: 120px;
    bottom: 5px;
    height: 40px;

   background-color: #f2f2f2;
}
#bottombar3 {
    position: fixed;
    left: 220px;
    bottom: 5px;
    height: 40px;
    width: 100px;
   background-color: #f2f2f2;

}
#bottombarspacer {
    position: fixed;
    left: 320px;
    bottom: 5px;
    height: 40px;
    width: 500px;
   background-color: #f2f2f2;

}
#bottombarspacer1 {
     position: fixed;
 right: 10px;
    bottom: 5px;
    height: 40px;
    width: 500px;
    background-color: #f2f2f2;

}



