/* Topbar */


#topBanner{
     position: absolute;
     width: 100%;

     height: 70px;


     background-color: lightgray;
}

#topsearchBox{
     position: absolute;
     width: 550px;
     height: 40px;

     top: 0px;
     margin-left: 190px;

     background-color: lightgray;
}
#searchButtonBox{
     position: absolute;
     width: 100px;
     height: 40px;

     top: 20px;
     margin-left: 360px;

     background-color: lightgray;
}
#topName{
     position: absolute;
     width: 150px;
     height: 30px;
     top: 5px;

     right: 50px;
     background-color: lightgray;
}











#marginLeft {
     position: absolute;
     width: 147px;
     height: 1800px;
     top: 70px;

     margin-left: -10px;
   background-color: white;

}




/* Middle*/

#resultContainer {
     position: absolute;
     width: 600px;
     height: 1600px;
     top: 70px;

     margin-left: 130px;
      background-color: white;

}





#sideContainer {
     position: absolute;
     width: 315px;
     height: 1800px;
    top: 70px;
     margin-left: 750px;
   background-color: white;
}

#spaceResults {
     position: relative;
     width: 600px;
     height: 50px;


     margin-left: 10px;
   background-color: white;
}

#topResultspacer {
     position: relative;
     width: 600px;
     height: 50px;

     top: 0px;
     margin-left: 0px;
   background-color: white;
}




/* Pagination */
.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;

}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;

}


#paginationContainer {
     position: absolute;

    border-top-width: thin;
    border-top-style: solid;
    border-top-color: lightgray;
     width: 600px;
     height: 200px;
     top: 1650px;

     margin-left: 150px;
    background-color: white;
}




#paginationContainertotal {
     position: absolute;
     width: 300px;
     height: 50px;


margin-left: 100px;
   background-color: white;
}

#paginationContainernumberlist{
     position: absolute;
     width: 500px;
     height: 100px;
     margin-top: 50px;

margin-left: 50px;
    background-color: white;
}


/* bottom*/
#bottomsearchMain{
      position: relative;
     width: 100%;
     height: 100px;
        top:1800px;
     background-color: lightgray;

}