    <link rel="stylesheet" href="{{ url_for('static', filename='css/searchresultbox.css') }}">

    {% for link in links.items %}

<div id="resultbox">

         <div id="linkTitle"><h4><a href="{{ link.link }}">{{ link.title }}</a></h4> </div>
         <div id="lastUpdated">Checked: 14 hours ago </div>
         <div id="linkLink">{{ link.link }}</div>
         <div id="linkDescription">{{ link.description | safe }}</div>


</div>

 {% endfor %}


       {{ pagination.info  }}
       {{ pagination.links  }}

