{% from "/search/_formhelpers.html" import render_field %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/searchresult.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">



{% block content %}


<!-- Banner-->


<div id="topBanner">
 <a href="{{ url_for('index') }}">
   <img src="{{ url_for('static', filename='/images/AllInOneIcon.png') }}" width="50px" height="50px">

 <a/>

<!-- SearchBox-->



    <div id="topsearchBox">


             <div class="col-xs-8">
                    <form method=post action="/search/search" >

                    {{ render_field(form.searchString, autocomplete="off", type="text", class="form-control", placeholder="Search Onions") }}
             </div>
        <div id="searchButtonBox">
                    <button type="submit" class="btn btn-primary">Search</button>

            </div>
                     </form>


   </div>



<!-- Authentication-->




            <div id="topName">
              {% if current_user.is_authenticated %}
                        <a href="{{ url_for('main.user', username=current_user.username) }}">{{ current_user.username }}</a>

                        <a href="{{ url_for('auth.logout') }}">Log Out</a>

              {% else %}
                        <a href="{{ url_for('auth.login') }}">Login</a>
                        <a href="{{ url_for('auth.register') }}">Register</a>

                     {% endif %}

           </div>




<!-- Left Margin-->

    <div id="marginLeft"></div>

<!-- Search Middle -->

    <div id="resultContainer"> <div id="topResultspacer"></div>


        {% include 'search/_searchresult.html' %}

    </div>



<!-- Right Margin -->

   <div id="sideContainer"></div>


{% endblock %}