{% extends "base.html" %}
{% from "/search/_formhelpers.html" import render_field %}

{% block content %}
    <div id="searchbox">
            <div id="bannerlogo">
                <img src="{{ url_for('static', filename='/images/AllInOneIcon.png') }}" width="100px" height="100px">
            </div>

          <div id="searchinput">
              <form method=post action="/search/search">
                {{ render_field(form.searchString, placeholder="username", autocomplete="off") }}


              </div>
          <div id="searchbuttons">
        </form>
              <button type="button" class="btn btn-default">Whats Popular</button>
          </div>
    </div>

{% endblock %}