{% extends "base.html" %}

{% block content %}
    <div id="searchbox">
            <div id="bannerlogo">
                <img src="{{ url_for('static', filename='/images/AllInOneIcon.png') }}" width="100px" height="100px">
            </div>

          <div id="searchinput">
        <input class="form-control input-lg" id="inputlg" type="text">
          </div>

          <div id="searchbuttons">
          <a href="{{ url_for('main.viewlink') }}">  <button type="button" class="btn btn-default">Search</button></a>
              <button type="button" class="btn btn-default">Whats Popular</button>
          </div>
    </div>

{% endblock %}