<!DOCTYPE html>
<html>
  <head>
    <title>Disconnect</title>

       <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

      <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/loginregister.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/plain.css') }}">
  </head>

  <body>

  <div id = 'topbar'>
         <a href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='/images/MiniLogo.png') }}" width="150px" height="75px">
        </a>

  </div>

      {% block content %}



      {% endblock %}

      <div id="bottombar">

    </div>

  </body>
</html>