{% extends "/mainholders/plain.html" %}
{% from "/auth/_formhelpers.html" import render_field %}
{% block content %}

        <div id="loginorregister">Login</div>



    <div id="loginorregisterright">

    <br><br><br><br><br><br><br><br>
        {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<form method="post" action="/main/addurl">
  <dl>

    {{ render_field(form.link) }}







  </dl>
  <p><input class="btn btn-danger" type="submit" value='add'>

</form>
</div>
{% endblock %}