<!DOCTYPE html>
<html>
  <head>
    <title>Disconnect</title>

       <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

      <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
       <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
  </head>

  <body>

<div id = "mainlayer">
      <div id="topbar">
          <div id="loginregister">
              {% if current_user.is_authenticated %}
                        <a href="{{ url_for('main.user', username=current_user.username) }}">{{ current_user.username }}</a>

                        <a href="{{ url_for('auth.logout') }}">Log Out</a>

              {% else %}
                        <a href="{{ url_for('auth.login') }}">Login</a>
                        <a href="{{ url_for('auth.register') }}">Register</a>

                     {% endif %}







          </div>

    </div>

      {% block content %}



      {% endblock %}

      <div id="bottombar">
                    <div id="bottombar1">   <a href="{{ url_for('main.addurl') }}">Add Url</a> </div>
                    <div id="bottombar2">  <a href="{{ url_for('main.contact') }}">Contact</a> </div>
                    <div id="bottombar3">  <a href="{{ url_for('main.about') }}">About</a>  </div>
                    <div id="bottombarspacer">   </div>
                    <div id="bottombarspacer1">  </div>

    </div>



</div>
  </body>
</html>