<!DOCTYPE html>
<html>
  <head>
    <title>Disconnect</title>

       <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

      <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
       <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
  </head>

  <body>

<div id = "mainlayer">
      <div id="topbar">
          <div id="loginregister">
              <a href="{{ url_for('auth.login') }}">Login</a>
              <a href="{{ url_for('auth.register') }}">Register</a>




          </div>

    </div>

      {% block content %}



      {% endblock %}

      <div id="bottombar">
                    <div id="bottombar1">   Add URL </div>
                    <div id="bottombar2">  Contact  </div>
                    <div id="bottombar3">  About  </div>
                    <div id="bottombarspacer">   test </div>
                    <div id="bottombarspacer1">  test </div>

    </div>



</div>
  </body>
</html>