{% extends "/mainholders/base.html" %}
{% from "/search/_formhelpers.html" import render_field %}

{% block content %}
    <div id="searchbox">


<!-- lgo-->
          <div id="bannerlogo">
                <img src="{{ url_for('static', filename='/images/AllInOneIcon.png') }}" width="100px" height="100px">
          </div>

<!-- seartchinput-->

          <div id="searchinput">


              <div class="col-xs-10">
              <form action="{{ url_for('search.searchresults', search_term=search_term) }}" method="post">
                  {{ render_field(form.searchString, autocomplete="off",class="form-control input-lg") }}


                      </div>

                      </div>

                                     <!-- Buttons-->
                      <div id="searchbuttons">
                            <input class="btn btn-danger" type="submit" value=Search>
                           <button type="button" class="btn btn-default">Whats Popular</button>
                      </div>
              </form>
    </div>





{% endblock %}