{% extends "/mainholders/base.html" %}
{% from "/search/_formhelpers.html" import render_field %}

{% block content %}
    <div id="searchbox">


<!-- lgo-->
          <div id="bannerlogo">
                <img src="{{ url_for('static', filename='/images/MainLogo.png') }}" width="400px" height="105px">
          </div>

<!-- seartchinput-->

          <div id="searchinput">


                  <div class="col-xs-10">
                          <form action="{{ url_for('index', search_term=search_term) }}" method="post">
                              {{ render_field(form.searchString, autocomplete="off",class="form-control input-lg") }}



                  </div>

          </div>

                        <!-- Buttons-->
                                  <div id="searchbuttons">
                                        <input class="btnsearch" type="submit" value=Search>
                                       <button type="button" class="btnsearch">Whats Popular</button>
                  </div>
                  </form>
                  <div id="donationBox">Keep our servers running! 1F8bK43wrU4KMeq7D8R1NGkGPG5WEzaWHf          </div>


    </div>





{% endblock %}